<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <button type="button" id="btn-read">leggi</button>
        <script>
            document.getElementById("btn-read").addEventListener("click", () => {
                var l = localStorage.getItem('JWT')

                fetch('/recensioni', {
                    method: 'GET',
                    headers: {
                        'Content-type': 'application/json',
                        'Authorization': `Bearer ${l}`, // notice the Bearer before your token
                    }
                })
                .then(response => response.json())
                .then(risultato => console.log(JSON.stringify(risultato)))
                .catch(ex => console.log('ERRORE: ' + ex))
            })
        </script>

        <button type="button" id="btn-write">scrivi</button>
        <script>
            document.getElementById("btn-write").addEventListener("click", () => {
                var l = localStorage.getItem('JWT')
                
                fetch(`/addRecensione?datascrittura=${'2005/11/15'}&idutente=${124578}&contenuto=${'la ciola'}&suggerimento=${'il topo cazzo'}&valutazione=${4}`, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'Authorization': `Bearer ${l}`
                    }
                })
                .then(response => response.json())
                .then(response => console.log(response))
                .catch(ex => console.log('ERRORE: ' + ex))
            })
        </script>

    </body>
</html>